*{
    margin: 0px;
    padding: 10px;
}
body .contenedor{
    display: grid;
    grid-template-columns: repeat(3,minmax(500px,1fr));
    grid-template-rows: repeat(2,minmax(400px,1fr));
}
body .contenedor .uno,body .contenedor .dos,body .contenedor .cuatro,body .contenedor .cinco{
    background-color: lightblue;
    border: 2px solid black;
}
body .contenedor .uno,body .contenedor .dos,body .contenedor .tres{
    border-bottom: none;
}
body .contenedor .cuatro,body .contenedor .cinco,body .contenedor .seis{
    border-top: none;
}
body .contenedor .uno,body .contenedor .cuatro,body .contenedor .dos,body .contenedor .cinco{
    border-right: none;
}
body .contenedor .dos,body .contenedor .cinco,body .contenedor .tres,body .contenedor .seis{
    border-left: none;
}
body .contenedor .tres,body .contenedor .seis{
    background-color: beige;
    border: 2px solid black;
}